* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 16px;
    color: black;
}
.contenedorBody{
    height: 100vh;
    display: flex;
}
.main{
    flex: 3;
    padding: 40px;
    background-color:bisque;
    overflow-y: auto;
}
.img01{
    width: 14%;
    height: 20%;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}
.menu{
    flex: auto;
    background-color:burlywood;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    list-style: none;
    text-align: center;
}
.menu li {
    margin: 20px 0;
}
.menu a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.menu a:hover{
    color:cadetblue;
}
.main h1{
    text-align: center;
}
.contenedor1{
    flex: auto;
    color: rgb(255, 228, 218);
    display: flex;
}
.contenedor ul{
   list-style: none;
   text-align: center;
}
.contenedor li {
    margin: 20px 0;
}
.contenedor a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}